<div class="header-navigation">
  <div>
    <a href="https://github.com/dafneolca/dashboard-dmb" target="_blank">
      <img class="dashboard_logo" src="../../assets/images/dashboard_logo.png" alt="dashboard_logo" />
    </a>
  </div>

  <!-- DESKTOP NAVBAR -->
  <div class="full-display-screen">
    <nav class="nav-bar-items">
      <ul>
        <li>
          <a routerLink="/admin">Admin</a>
        </li>
        <li>
          <a routerLink="/status">Status</a>
        </li>
        <li *ngIf="loggedIn">
          <a routerLink="/" (click)="removeDataFromLocalStorage()">Logout</a>
        </li>
        <li *ngIf="!loggedIn">
          <a routerLink="/" (click)="login()">Login</a>
        </li>
      </ul>
    </nav>
  </div>


  <!-- MOBILE NAVBAR -->
  <nav class="navbar-mobile">
    <div class="menu-icon" (click)="toggleMenuView()">
      <fa-icon [icon]="faBars"></fa-icon>
    </div>
    <div *ngIf="displayNav" class="dropdown-menu">
      <ul>
        <li>
          <a routerLink="/admin">Admin</a>
        </li>
        <li>
          <a routerLink="/status">Status</a>
        </li>
        <li *ngIf="loggedIn">
          <a routerLink="/" (click)="removeDataFromLocalStorage()">Logout</a>
        </li>
        <li *ngIf="!loggedIn">
          <a routerLink="/" (click)="login()">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
