<div class="main-container">
  <div class="headline-and-copy">
    <h1>
      Welcome to the Dashboard
    </h1>

    <p class="wb-e-pgph-2 intro-text">
      This dashboard template is a tool for managing App IDs and App ID keys.<br><br>
      Enter your App ID, API Key and chose an environment, to continue.
    </p>

    <form (ngSubmit)="login(loginData.value)" #loginData="ngForm" novalidate>
      <div class="input-fields">
        <input name="username" class="app-id-input" ngModel type="text" placeholder="Username" required
          #username="ngModel" />
        <span *ngIf="username.errors" style="color: #9f0002">*</span>
        <br>
        <input name="password" class="app-id-input" ngModel type="text" placeholder="Password" required
          #password="ngModel" />
        <span *ngIf="password.errors" style="color: #9f0002">*</span>

        <div *ngIf=" ( username.errors && (username.dirty || username.touched) || password.errors &&
            (password.dirty || password.touched) )">
          <span *ngIf="!username.errors|| !password.errors" style="color: #9f0002; position: absolute">
            *Required Fields
          </span>
        </div>

        <div class="wb-e-dropd-1__btn-wrapper wb-e-dropd-1--expanded">
          <button class="wb-e-dropd-1__btn dropdown-btn" type="button" tabindex="-1" (click)="toggleDropDown()">
            {{environment}}
          </button>

          <div class="dropdown-list-div-mobile">
            <ul class="dropdown-list" *ngIf="showDropDown">
              <li (click)="thisValue('dev')">
                Development</li>
              <li (click)="thisValue('int')">
                Integration</li>
              <li (click)="thisValue('prod')">
                Production</li>
            </ul>

            <select style="display:none" name="env" ngModel #env="ngModel">
              <option class="option-dropdown" #dev value="Development">Development</option>
              <option #int value="Integration">Integration</option>
              <option #prod value="Production">Production</option>
            </select>
          </div>
        </div>
      </div>
      <button type="submit" class="btn-submit-new-id">Submit</button>
    </form>

    <p *ngIf="adminRights===false" class="wb-e-errms-1">
      The App ID or Key you have entered is invalid.
    </p>
    <p *ngIf="environmentNotSelected === true" class="wb-e-errms-1">
      Select an Environment to continue.
    </p>


  </div>
</div>
