.header-navigation {
  background-color: black;
}

i {
  font-family: FontAwesome;
  font-style: normal
}

@media (min-width: 768px) {
  .navbar-mobile {
    display: none;
  }

  .dashboard_logo {
    width: 80px;
    top: 16px;
    left: 44px;
    position: absolute;
  }

  .header-navigation {
    top: 0;
    right: 0;
    left: 0;
    position: relative;
    margin: 0 auto;
    height: 108px
  }

  .full-display-screen {
    visibility: visible;
  }

  .nav-bar-items {
    line-height: 30px;
    bottom: 17px;
    position: absolute;
    right: 18px;
  }

  nav ul {
    margin: 0 -18px; //media min width: 1280px
    vertical-align: baseline;
    font-size: 16px;
    line-height: 30px;
    bottom: 1px;
    position: absolute;
    right: 18px;
    width: auto;
    list-style: none;
    display: flex;
  }

  nav ul li {
    display: inline-block;
    margin: 0 18px;
    width: auto;
    padding: 0;
  }

  nav ul li a {
    padding: 0;
    text-decoration: none !important;
    color: #fff;
    border: 0;
    margin: 0;
    vertical-align: baseline;
  }

  nav ul li a:hover {
    color: #00adef;
  }
}

// MOBILE and TABLET
@media (max-width: 767px) {
  .header-navigation {
    height: 80px !important;
  }

  .menu-icon {
    position: absolute;
    z-index: 600;
    top: 25px;
    color: white;
    font-size: 20px;
  }

  .dashboard_logo {
    width: 50px;
    top: 16px;
    left: 44px;
    position: absolute;
  }

  .navbar-mobile {
    display: flex;
    justify-content: flex-end;
    padding-right: 45px;
    padding-top: 80px;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    position: absolute;
    right: 7px;
    top: -16px;
  }

  .nav-link:hover {
    color: #00adef !important;
  }

  .full-display-screen {
    display: none;
  }

  .dropdown-menu {
    background-color: black;
    overflow-y: auto !important;
    width: 100%;
    top: 23px;
    font-size: 30px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    background-color: black;
    z-index: 100;
    position: absolute;
    width: 100%;
    right: 0;
    margin-top: 0;
    padding: 30px 0;
  }

  nav ul li {
    font-size: 30px;
    font-weight: 200;
    padding: 30px;
    text-align: center;
    color: white;
  }

  a {
    color: white;
  }

  a:hover {
    color: #00adef;
  }

}
